

  
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>About Us</h2>
                            <p>In the history of modern astronomy, there is probably no one greater leap forward than
                                the
                                building and launch of the space telescope known as the Hubble.</p>
                            <div class="page_link">
                                <a href="index.html">Accueille</a>
                                <a href="about-us.html">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Department Area =================-->
    <div class="department_area section_gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center">
                    <img class="img-fluid" src=" {% static 'img/about-img.png'%}" alt="">
                </div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="dpmt_right">
                        <h1>Something Something </h1>
                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                            telescope. It’s
                            exciting to think about setting up your own viewing station. In the life of any aspiring
                            astronomer that it is
                            time to buy that first telescope. It’s exciting to think about setting up your own viewing
                            station.</p>
                        <p>It’s exciting to think about setting up your own viewing station. In the life of any
                            aspiring astronomer that
                            it is time to buy that first telescope exciting is time to buy that first.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Department Area =================-->

    <!--================ Start Instructor Area =================-->
    <div class="instructors_area lite_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="main_title">
                        <h2>Les Membres</h2>
                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                            telescope. It’s exciting to think about setting up your own viewing station.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-instructor -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_instructor">
                        <div class="author">
                            <img src=" {% static 'img/instructors/ins1.jpg'%}"  class="rounded-circle">
                        </div>
                        <div class="author_decs">
                            <h4>Ethel Davis</h4>
                            <p class="profession">Sr. Faculty Data Science</p>
                            <p>If you are looking at blank cassettes on the web, you may be very confused at the
                                difference in price.</p>
                            <div class="social_icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-instructor -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_instructor">
                        <div class="author">
                            <img src=" {% static 'img/instructors/ins2.jpg'%}"  class="rounded-circle">
                        </div>
                        <div class="author_decs">
                            <h4>Rodney Cooper</h4>
                            <p class="profession">Sr. Faculty Data Science</p>
                            <p>If you are looking at blank cassettes on the web, you may be very confused at the
                                difference in price.</p>
                            <div class="social_icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-instructor -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_instructor">
                        <div class="author">
                            <img src=" {% static 'img/instructors/ins3.jpg'%}" class="rounded-circle">
                        </div>
                        <div class="author_decs">
                            <h4>Dane Walker</h4>
                            <p class="profession">Sr. Faculty Data Science</p>
                            <p>If you are looking at blank cassettes on the web, you may be very confused at the
                                difference in price.</p>
                            <div class="social_icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-instructor -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single_instructor">
                        <div class="author">
                            <img src=" {% static 'img/instructors/ins4.jpg'%}" class="rounded-circle">
                        </div>
                        <div class="author_decs">
                            <h4>Lena Keller</h4>
                            <p class="profession">Sr. Faculty Data Science</p>
                            <p>If you are looking at blank cassettes on the web, you may be very confused at the
                                difference in price.</p>
                            <div class="social_icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Instructor Area =================-->

    <!--================ Start Fact Area =================-->
    <div class="fact_area overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="main_title">
                        <h2>Facts that Make us Unique</h2>
                        <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                            telescope. It’s
                            exciting to think about setting up your own viewing station.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src=" {% static 'img/f-icons/icon1.png'%}" alt="">
                        </div>
                        <h4>Expert Mentors</h4>
                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
                            labore dolor sit
                            amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt
                            labore dolor sit amet
                            consec tetur adipisicing elit, seddo eiusmod tempor.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src=" {% static 'img/f-icons/icon2.png'%}" alt="">
                        </div>
                        <h4>25000+ Courses</h4>
                        <p>Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt
                            labore dolor sit
                            amet consec.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src=" {% static 'img/f-icons/icon3.png'%}" alt="">
                        </div>
                        <h4>Student Membership</h4>
                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
                            labore dolor sit
                            amet consec tetur adipisicing elit, sed do eiusmod tempor sed do eiusmod tempor incididunt
                            labore dolor sit amet
                            consec tetur adipisicing elit, seddo eiusmod tempor.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src=" {% static 'img/f-icons/icon4.png'%}" alt="">
                        </div>
                        <h4>Lifetime Access</h4>
                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
                            labore dolor sit
                            amet consec tetur adipisicing elit sed do eiusmod.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src=" {% static 'img/f-icons/icon5.png'%}" alt="">
                        </div>
                        <h4>Source File Included</h4>
                        <p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
                            labore dolor sit
                            amet consec tetur adipisicing elit sed do eiusmod.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src=" {% static 'img/f-icons/icon6.png'%}" alt="">
                        </div>
                        <h4>Live Support</h4>
                        <p>Lorem ipsum dolor sit amet consec tetur adipis icing elit, sed do eiusmod tempor incididunt
                            labore dolor sit
                            amet consec.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Fact Area =================-->

    <!--================ Start Testimonial Area =================-->
    <div class="section_gap testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="active_testimonial owl-carousel" data-slider-id="1">
                        <!-- single testimonial -->
                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src=" {% static 'img/quote.png'%}" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                    Earth. If you think about
                                    it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src=" {% static 'img/quote.png'%}" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                    Earth. If you think about
                                    it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src=" {% static 'img/quote.png'%}" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                    Earth. If you think about
                                    it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src=" {% static 'img/quote.png'%}" alt="">
                                <h4>Fanny Spencer</h4>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                    Earth. If you think about
                                    it, you travel across her faceand She is the host to your journey.</p>
                            </div>
                        </div>
                    </div>

                    <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
                        <div class="owl-thumb-item">
                            <div class="position-relative">
                                <img class="img-fluid" src="{% static 'img/testimonial/t1.jpg'%}" alt="">
                            </div>
                            <div class="overlay-grad"></div>
                        </div>
                        <div class="owl-thumb-item">
                            <div class="position-relative">
                                <img class="img-fluid" src=" {% static 'img/testimonial/t2.jpg'%}" alt="">
                            </div>
                            <div class="overlay-grad"></div>
                        </div>
                        <div class="owl-thumb-item">
                            <div class="position-relative">
                                <img class="img-fluid" src=" {% static 'img/testimonial/t3.jpg'%}" alt="">
                            </div>
                            <div class="overlay-grad"></div>
                        </div>
                        <div class="owl-thumb-item">
                            <div class="position-relative">
                                <img class="img-fluid" src=" {% static 'img/testimonial/t4.jpg'%}" alt="">
                            </div>
                            <div class="overlay-grad"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Testimonial Area =================-->

