{% extends 'base.html'%}
{% load static %}
{% block content%}
    <!--================ Start Header Menu Area =================-->
    
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Les Evenements</h2>
                            <p>In the history of modern astronomy, there is probably no one greater leap forward than
                                the
                                building and launch of the space telescope known as the Hubble.</p>
                            <div class="page_link">
                                <a href="index.html">Accueille</a>
                                <a href="courses.html">Evenement</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Course Details Area =================-->
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="{% static 'img/courses/course-details.jpg'%}" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title">Description</h4>
                        <div class="content">
                            {{event.description}}
                        </div>

                        <h4 class="title">Les Chapitres </h4>
                        <div class="content">
                            {{event.chapitre}}
                        </div>

                        
                        
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Titre D'evenement</p>
                                <span class="or">{{event.title}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Date: </p>
                                <span>{{event.date|date}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Les place valables </p>
                                <span>{{event.places_avalaible}}</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Heures: </p>
                                <span>{{event.date.time}}</span>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="primary-btn text-uppercase enroll">Inscrivez-Vous</a>

                    <h4 class="title">Les Moderateurs</h4>
                    <div class="content">
                        
                        <div class="comments-area mb-30">
                            {% for mod in event.moderators.all%}
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    
                                    <div class="user justify-content-between d-flex">
                                        
                                        <div class="thumb">
                                            <img height="50" width="50" src=" {{mod.picture.url}}" alt="">
                                        </div>
                                        <div>
                                            
                                        </div>
                                        
                                        <div class="desc">
                                            <h5><a href="#">{{mod.user.username}}</a>
                                                <div class="star">
                                                </div>
                                            </h5>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->

    {% endblock %}