{% extends 'base.html' %}
{% load static %}
{% block content%}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Blog Details</h2>
                            <p>In the history of modern astronomy, there is probably no one greater leap forward than
                                the
                                building and launch of the space telescope known as the Hubble.</p>
                            <div class="page_link">
                                <a href="index.html">Home</a>
                                <a href="blog.html">Blog</a>
                                <a href="single-blog.html">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="{{post.thumbnail.url}}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                {% for cat in post.categories.all%}
                                    <a href="#">{{cat}}</a>
                                {% endfor %}
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">{{post.author.user.username}}<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">{{post.timestamp|timesince}}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">{{post.view_count}}<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">{{post.comment_count}}<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>{{post.title}}</h2>
                            <p class="excert">
                                {{post.content|safe}}
                            </p>
                            
                        </div>
                        
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                        {% if post.previous_post%}
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="{{post.previous_post.get_absolute_url}}"><img class="img-fluid" src="{{post.previous_post.thumbnail.url}}" alt=""></a>
                                </div>
                                <div class="arrow">
                                    <a href="{{post.previous_post.get_absolute_url}}"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="{{post.previous_post.get_absolute_url}}">
                                        <h4>{{post.previous_post.title}}</h4>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.next_post%}
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="{{post.next_post.get_absolute_url}}">
                                        <h4>{{post.next_post.title}}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="{{post.next_post.get_absolute_url}}"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>
                                <div class="thumb">
                                    <a href="{{post.next_post.get_absolute_url}}"><img class="img-fluid" src="{{post.next_post.thumbnail.url}}" alt=""></a>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
            {% if request.user.is_authenticated%}
                    <div class="comments-area">
                        <h4>{{post.comment.count}} Comments</h4>
                        {% for comment in post.get_comments%}
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="{{comment.author.picture.url}}" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">{{comment.author.user.username}}</a></h5>
                                        <p class="date">{{comment.timestamp|timesince}}</p>
                                        <p class="comment">
                                            {{comment.content}}
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">reply</a>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form method='POST' action='.'>
                            <div class="form-group form-inline">
                                
                                
                            </div>
                           
                            <div class="form-group">
                                {% csrf_token %}
                                {{form}}
                            </div>
                            <button type="submit"  class="primary-btn">Post Comment</button>
                        </form>
                    </div>
                </div>
            {% endif %}
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Posts">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" height="200" width="200" src="{{post.author.picture.url}}" alt="">
                            <h4>{{post.author.user.username}}</h4>
                            <p>r</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>{{post.overview}}</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>
                            {% for post in most_recent%}
                            <div class="media post_item">
                                <img src="{{post.thumbnail.url}}" height="100" width="100" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>{{post.title}}</h3>
                                    </a>
                                    <p>{{post.timestamp|timesince}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">
                            {% for cat in ps.categories.all%}
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>{{cat.categories__title}}</p>
                                        <p>{{cat.categories__title__count}}</p>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                            <div class="br"></div>
                        </aside>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}