{% extends 'base.html' %}
{% load static %}
{% block content%}


   

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Les Projets</h2>
                            <p>In the history of modern astronomy, there is probably no one greater leap forward than
                                the
                                building and launch of the space telescope known as the Hubble.</p>
                            <div class="page_link">
                                <a href="index.html">Accueille</a>
                                <a href="blog.html">Projets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Categorie Area =================-->
    <!--
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-2.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Filière 1</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Enjoy your social life together</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-2.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Filière 2</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Be a part of politics</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="img/blog/cat-post/cat-post-2.jpg" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Filière 3</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Let the food be finished</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                    {% for post in queryset%}
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                    {% for cat in Post.categories.all%}
                                        <a href="#">{{cat}}</a>
                                        {% endfor %}
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{post.author}}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{post.timestamp |timesince}} Ago<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">{{post.view_count}}<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">{{post.comment_count}}<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{post.thumbnail.url}}" alt="">
                                    <div class="blog_details">
                                        <a href="{{post.get_absolute_url}}">
                                            <h2>{{post.title}}</h2>
                                        </a>
                                        <p>{{post.content}}</p>
                                        <a href="{{post.get_absolute_url}}" class="blog_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                            {% if queryset.has_previous%}
                                <li class="page-item">
                                    <a href="?{{page_req_var}}={{queryset.previous_page_number}}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}

                                <li class="page-item active"><a href="?{{page_req_var}}={{queryset.number}}" class="page-link">{{queryset.number}}</a></li>
                                {% if queryset.has_next%}
                                <li class="page-item">
                                    <a href="?{{page_req_var}}={{queryset.next_page_number}}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Cherche Projet">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                       <!-- <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                            <h4>Charlie Barber</h4>
                            <p>Senior blog writer</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                                should have to spend money on boot camp when you can get. Boot camps have itssuppor
                                ters andits detractors.</p>
                            <div class="br"></div>
                        </aside>-->
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Les Projets Pupulaires</h3>
                            {% for prj in most_recent%}
                            <div class="media post_item">
                            
                                <img src="" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>{{prj.title}}</h3>
                                    </a>
                                    <p>{{prj.timestamp|timesince}}</p>
                                </div>
                                
                            </div>
                            {% endfor %}
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                            <div class="br">
                                
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Les Catégories des Projets</h4>
                            <ul class="list cat-list">
                                <li>
                                {% for cat in Post.categories.all%}
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>{{cat.categories__title}}</p>
                                        <p>{{cat.categories__title__count}}</p>
                                    </a>
                                    {% endfor %}
                                </li>
                                
                            </ul>
                            <div class="br"></div>
                        </aside>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

   {% endblock %}
 